<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert details here</title>
</head>
<body>
<form th:action="@{/person}" th:object="${myperson}" method="post">
    <table border="1">
        <tr>
            <td>Enter Name</td>
            <td><input type="text" th:field="*{personName}" /></td>
        </tr>
        <tr>
            <td>Enter Age</td>
            <td><input type="text" th:field="*{age}" /></td>
        </tr>
        <tr>
            <td>Enter Address</td>
            <td><input type="text" th:field="*{address}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>
